/XmlSchema-1.4.5.jar
/batik-ext-1.7.jar
/commons-io-2.3.jar
/commons-lang3-3.1.jar
/commons-logging-1.1.1.jar
/guava-osgi-11.0.1.jar
/hamcrest-core-1.1.jar
/jboss-logging-3.3.0.Final.jar
/jsr173-1.0.jar
/junit-4.9.jar
/log4j-1.2.17.jar
/saxon-9.1.0.8.jar
/saxon-dom-9.1.0.8.jar
/soap-builder-1.0.0-SNAPSHOT.jar
/soap-common-1.0.0-SNAPSHOT.jar
/soap-legacy-1.0.0-SNAPSHOT.jar
/stax-api-1.0.1.jar
/undertow-core-1.3.23.Final.jar
/wsdl4j-1.6.2.jar
/wsrf-xbeans-1.0.jar
/xbean-fixed-2.4.0.jar
/xbean_xpath-2.4.0.jar
/xercesImpl-2.10.0.jar
/xml-apis-1.0.b2.jar
/xmlbeans-xmlpublic-2.5.0.jar
/xmlunit-1.3.jar
/xnio-api-3.3.6.Final.jar
/xnio-nio-3.3.6.Final.jar
